[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm build", "pnpm prisma generate", "pnpm prisma migrate deploy"]

[start]
cmd = "node dist/main"
